.ddpink{
	background-color: #ff5252;
	color: white;
}

input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default){
	background-color: white;
}

footer{
	background-color: #333;
	color: white;
	padding: 30px 0;
}

footer h6{
	line-height: 150%;
}

.row{
	margin-bottom: 0px;
}

.aviso{
	font-size: 20px;
}

.fa{
	font-size: 20px !important;
}